

.drinkListWrap{


	.am-list-item{

		padding-left: 0!important;

		.am-list-line{
			padding-right: 0;
		}
	}

	.am-list-item .am-list-line .am-list-content{
		padding-top: 0;
		white-space: normal;
	}

	.top_search{
		position: absolute;
		top:0;
		left:0;
		z-index: 99;
		width: 100%;
	}
	.unFindOut{
		font-size: 18px;
		line-height: 30px;
		width:100%;
		text-align: center;
		padding-top: 10px;
	}
}