.Materialwrap{
	width:900px;
	margin:20px auto 0;
	padding-bottom: 100px;

	button{
		outline: none;
	}

	.bTitle{
		display: inline-block;
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		margin:20px 20px 20px 0;
	}
	input{
		border:1px solid #000;
		display: inline-block;
		font-size: 22px;
	}



	



	.describes{
		font-size: 20px;
		width: 900px;
		height: 160px;
	}


	.saveData{
		width: 900px;
		height: 40px;
		margin-top: 40px;
		font-size: 24px;
	}
}