#root{


    .am-search-cancel{
        color:red;
    }
    .am-navbar-light{
        background-color: #f6f6f6;
        border-bottom: 1px solid #afafaf;
        
    }
    .shopPage{
        position: relative;
        .searchWrap{

            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;

        }
    }

    .mask{
        background-color: rgba(0,0,0,0.3);
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-Index: 8
    } 



}




